<template>
  <v-card color="#FFFFFF" raised>
    <h3 class="font-weight-bold ml-2">{{titulo}} {{options.chart.id}}</h3>
    <apexchart type="line" :options="options" :series="series"></apexchart>
  </v-card>
</template>

<script>
export default {
  name: "chartLine",
  props: {
    options: Object,
    series: Array,
    titulo: String,
    direccion: String
  },
};
</script>