<template>
  <v-card color="#FFFFFF" raised>
    <h3 class="font-weight-bold ml-2">{{titulo}}</h3>
    <apexchart type="pie" :options="options" :series="series" @dataPointSelection="clickHandler"></apexchart>
  </v-card>
</template>

<script>
export default {
  name: "chartPie",
  props: {
    options: Object,
    series: Array,
    titulo: String,
    direccion: String,
    identificador: String
  },
  methods: {
    clickHandler: function(event, chartContext, config) {
      try {
        this.$router.push({
          name: this.direccion,
          params: {
            titulo: this.options.labels[config.dataPointIndex],
            identificador: this.identificador
          }
        });
      } catch (error) {
        console.log(error);
      }
    }
  }
};
</script>