<template>
  <v-app>
    <drawner />

    <v-content>
      <v-container fluid>
        <v-row>
          <v-col cols="10">
            <p class="display-1 font-weight-bold">{{titulo}}</p>
          </v-col>

          <v-col cols="2">
            <v-btn-toggle rounded class="ml-4 mt-4" background-color="secondary" dark>
              <v-btn @click="hoyClick">
                <font-awesome-icon :icon="['fas', 'calendar-day']" size="2x" />
              </v-btn>
              <v-btn @click="semanaClick">
                <font-awesome-icon :icon="['fas', 'calendar-week']" size="2x" />
              </v-btn>
              <v-btn @click="mesClick">
                <font-awesome-icon :icon="['fas', 'calendar-alt']" size="2x" />
              </v-btn>
            </v-btn-toggle>
          </v-col>

          <v-col cols="12" v-if="hoy">
            <today
              v-bind:general="seccionesHoy"
              v-bind:cards="hoyData"
              v-bind:direccion="direccionHoy"
            />
          </v-col>

          <v-col cols="12" v-if="semana">
            <week
              v-bind:general="seccionesSemana"
              v-bind:cards="semanaData"
              v-bind:direccion="direccionSemana"
            />
          </v-col>

          <v-col cols="12" v-if="mes">
            <month
              v-bind:general="seccionesMes"
              v-bind:cards="mesData"
              v-bind:direccion="direccionMes"
            />
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import drawner from "../../components/navbar/drawner.vue";
import today from "../../components/dashboard/panel.vue";
import week from "../../components/dashboard/panel.vue";
import month from "../../components/dashboard/panel.vue";

export default {
  components: {
    drawner,
    today,
    week,
    month
  },
  data: function() {
    return {
      hoy: true,
      semana: false,
      mes: false,
      titulo: "Hoy",
      direccionHoy: "detalleSecionHoy",
      direccionMes: "detalleSecionMes",
      direccionSemana: "detalleSecionSemana"
    };
  },
  //una vez creado realizara acciones
  created() {
    //si no esta el usuario authenticado devolvera a login
    this.$store.dispatch("redirect");
  },
  methods: {
    hoyClick() {
      this.hoy = true;
      this.semana = false;
      this.mes = false;
      this.titulo = "Hoy";
    },
    semanaClick() {
      this.hoy = false;
      this.semana = true;
      this.mes = false;
      this.titulo = "Semana";
    },
    mesClick() {
      this.hoy = false;
      this.semana = false;
      this.mes = true;
      this.titulo = "Mes";
    }
  },
  computed: {
    hoyInfo() {
      return this.$store.getters.hoy;
    },
    semanaInfo() {
      return this.$store.getters.semana;
    },
    mesInfo() {
      return this.$store.getters.mes;
    },
    hoyData() {
      let hoy = {
        volt: 0,
        watts: 0,
        temp: 0,
        hum: 0,
        pre: "",
        irr: 0
      };

      let count = 0;

      for (let i = 0; i < this.hoyInfo.length; i++) {
        hoy.hum = hoy.hum + Math.round(this.hoyInfo[i].Humedad_Ambiental);
        hoy.watts = hoy.watts + Math.round(this.hoyInfo[i].Potencia_Panel);
        hoy.temp = hoy.temp + Math.round(this.hoyInfo[i].Temperatura_Ambiental);
        hoy.volt = hoy.volt + Math.round(this.hoyInfo[i].Voltaje_Panel);
        hoy.irr = hoy.irr + Math.round(this.hoyInfo[i].irradiancia);
        hoy.pre = this.hoyInfo[i].Precipitacion;

        count++;
      }

      hoy.hum = Math.round(hoy.hum / count);
      hoy.watts = Math.round(hoy.watts / count);
      hoy.temp = Math.round(hoy.temp / count);
      hoy.volt = Math.round(hoy.volt / count);
      hoy.irr = Math.round(hoy.irr / count);
      hoy.pre = hoy.pre;

      return hoy;
    },
    semanaData() {
      let semana = {
        volt: 0,
        watts: 0,
        temp: 0,
        hum: 0,
        pre: "",
        irr: 0,
      };

      let count = 0;
      for (let i = 0; i < this.semanaInfo.length; i++) {
        semana.hum =
          semana.hum + Math.round(this.semanaInfo[i].Humedad_Ambiental);
        semana.watts =
          semana.watts + Math.round(this.semanaInfo[i].Potencia_Panel);
        semana.temp =
          semana.temp + Math.round(this.semanaInfo[i].Temperatura_Ambiental);
        semana.volt =
          semana.volt + Math.round(this.semanaInfo[i].Voltaje_Panel);
        semana.irr =
          semana.irr + Math.round(this.semanaInfo[i].irradiancia);
        semana.pre = this.semanaInfo[i].Precipitacion;

        count++;
      }

      semana.hum = Math.round(semana.hum / count);
      semana.watts = Math.round(semana.watts / count);
      semana.temp = Math.round(semana.temp / count);
      semana.volt = Math.round(semana.volt / count);
      semana.irr = Math.round(semana.irr / count);
      semana.pre = semana.pre;

      
      return semana;
    },
    mesData() {
      let mes = {
        volt: 0,
        watts: 0,
        temp: 0,
        hum: 0,
        pre: 0,
        irr: 0
      };

      let count = 0;
      for (let i = 0; i < this.mesInfo.length; i++) {
        mes.hum = mes.hum + this.mesInfo[i].Humedad_Ambiental;
        mes.watts = mes.watts + this.mesInfo[i].Potencia_Panel;
        mes.temp = mes.temp + this.mesInfo[i].Temperatura_Ambiental;
        mes.volt = mes.volt + this.mesInfo[i].Voltaje_Panel;
        mes.irr = mes.irr + this.mesInfo[i].irradiancia;
        mes.pre = this.mesInfo[i].Precipitacion;

        count++;
      }

      mes.hum = Math.round(mes.hum / count);
      mes.watts = Math.round(mes.watts / count);
      mes.temp = Math.round(mes.temp / count);
      mes.volt = Math.round(mes.volt / count);
      mes.irr = Math.round(mes.irr / count);
      mes.Precipitacion = mes.Precipitacion;

      return mes;
    },
    seccionesHoy() {
      let datos = this.$store.getters.seccionHoy;
      let labels = [];
      let watts = [];
      let temperaturaA = [];
      let temperaturaP = [];
      let humedad = [];
      let irradiacion = [];
      let precipitacionT = [];
      let voltaje = [];

      for (let key in datos) {
        if (labels.length == 0) {
          labels.push(datos[key].Seccion);
        } else if (labels.length != 0) {
          if (labels.includes(datos[key].Seccion)) {
            labels.push(datos[key].Seccion);
          }
        }
        watts.push(datos[key].Potencia_Panel);
        temperaturaA.push(datos[key].Temperatura_Ambiental);
        temperaturaP.push(datos[key].Temperatura_Panel);
        humedad.push(datos[key].Humedad_Ambiental);
        irradiacion.push(datos[key].irradiancia);
        precipitacionT.push(datos[key].Precipitacion);
        voltaje.push(datos[key].Voltaje_Panel);
      }

      let precipitacion = [];
      let con1 = 0;
      let con2 = 0;

      for (let key in precipitacionT) {
        if (precipitacionT[key] === "Sin Lluvia") {
          con1 = +1;
        } else {
          con2 = +1;
        }
      }

      precipitacion.push(con1, con2);

      let secciones = {
        watts: {
          titulo: "Potencia Panel",
          options: {
            labels: labels,
            responsive: [
              {
                breakpoint: undefined,
                options: {}
              }
            ]
          },
          series: watts
        },
        voltaje: {
          titulo: "Voltaje Panel",
          options: {
            labels: labels,
            responsive: [
              {
                breakpoint: undefined,
                options: {}
              }
            ]
          },
          series: voltaje
        },
        temperaturaA: {
          titulo: "Temperatura Ambiental",
          options: {
            labels: labels,
            responsive: [
              {
                breakpoint: undefined,
                options: {}
              }
            ]
          },
          series: temperaturaA
        },
        temperaturaP: {
          titulo: "Temperatura Panel",
          options: {
            labels: labels,
            responsive: [
              {
                breakpoint: undefined,
                options: {}
              }
            ]
          },
          series: temperaturaP
        },
        humedad: {
          titulo: "Humedad Ambiental",
          options: {
            labels: labels,
            responsive: [
              {
                breakpoint: undefined,
                options: {}
              }
            ]
          },
          series: humedad
        },
        irradiacion: {
          titulo: "Irradiación",
          options: {
            labels: labels,
            responsive: [
              {
                breakpoint: undefined,
                options: {}
              }
            ]
          },
          series: irradiacion
        },
        precipitacion: {
          titulo: "Precipitación",
          options: {
            labels: ["Sin lluvia", "Lluvia"],
            responsive: [
              {
                breakpoint: undefined,
                options: {}
              }
            ]
          },
          series: precipitacion
        }
      };

      return secciones;
    },
    seccionesSemana() {
      let datos = this.$store.getters.seccionSemana;

      let labels = [];
      let watts = [];
      let temperaturaA = [];
      let temperaturaP = [];
      let voltaje = [];
      let humedad = [];
      let irradiacion = [];
      let precipitacionT = [];

      for (let key in datos) {
        if (labels.length == 0) {
          labels.push(datos[key].Seccion);
        } else if (labels.length != 0) {
          if (!labels.includes(datos[key].Seccion)) {
            labels.push(datos[key].Seccion);
          }
        }

        watts.push({
          seccion: datos[key].Seccion,
          dato: datos[key].Potencia_Panel
        });
        temperaturaA.push({
          seccion: datos[key].Seccion,
          dato: datos[key].Temperatura_Ambiental
        });
        temperaturaP.push({
          seccion: datos[key].Seccion,
          dato: datos[key].Temperatura_Panel
        });
        humedad.push({
          seccion: datos[key].Seccion,
          dato: datos[key].Humedad_Ambiental
        });
        irradiacion.push({
          seccion: datos[key].Seccion,
          dato: datos[key].irradiancia
        });
        voltaje.push({
          seccion: datos[key].Seccion,
          dato: datos[key].Voltaje_Panel
        });
        precipitacionT.push({
          seccion: datos[key].Seccion,
          dato: datos[key].Precipitacion
        });
      }

      let wattsT = [];
      let temperaturaAT = [];
      let temperaturaPT = [];
      let humedadT = [];
      let voltajeT = [];
      let irradiacionT = [];
      let precipitacion = [];
      let count = 0;

      watts.reduce(function(res, value) {
        if (!res[value.seccion]) {
          res[value.seccion] = { seccion: value.seccion, dato: 0 };
          wattsT.push(res[value.seccion]);
        }
        res[value.seccion].dato += value.dato;
        count++;
        return res;
      }, {});

      temperaturaA.reduce(function(res, value) {
        if (!res[value.seccion]) {
          res[value.seccion] = { seccion: value.seccion, dato: 0 };
          temperaturaAT.push(res[value.seccion]);
        }
        res[value.seccion].dato += value.dato;
        return res;
      }, {});

      humedad.reduce(function(res, value) {
        if (!res[value.seccion]) {
          res[value.seccion] = { seccion: value.seccion, dato: 0 };
          humedadT.push(res[value.seccion]);
        }
        res[value.seccion].dato += value.dato;
        return res;
      }, {});

      temperaturaP.reduce(function(res, value) {
        if (!res[value.seccion]) {
          res[value.seccion] = { seccion: value.seccion, dato: 0 };
          temperaturaPT.push(res[value.seccion]);
        }
        res[value.seccion].dato += value.dato;
        return res;
      }, {});

      irradiacion.reduce(function(res, value) {
        if (!res[value.seccion]) {
          res[value.seccion] = { seccion: value.seccion, dato: 0 };
          irradiacionT.push(res[value.seccion]);
        }
        res[value.seccion].dato += value.dato;
        return res;
      }, {});

      voltaje.reduce(function(res, value) {
        if (!res[value.seccion]) {
          res[value.seccion] = { seccion: value.seccion, dato: 0 };
          voltajeT.push(res[value.seccion]);
        }
        res[value.seccion].dato += value.dato;
        return res;
      }, {});

      precipitacionT.reduce(function(res, value) {
        const val = value.seccion + " " + value.dato;
        if (!precipitacion[val]) {
          res[value.seccion] = { seccion: val, dato: 0 };
          precipitacion.push(res[value.seccion]);
        }

        res[value.seccion].dato = +1;

        return res;
      }, {});

      let wattsR = [];
      let temperaturaAR = [];
      let temperaturaPR = [];
      let humedadR = [];
      let irradiacionR = [];
      let voltajeR = [];
      let precipitacionR = [];
      let labelP = [];
      let precipitacionP = [];

      for (let key in wattsT) {
        wattsR.push(Math.round(wattsT[key].dato / count));
        temperaturaAR.push(Math.round(temperaturaAT[key].dato / count));
        temperaturaPR.push(Math.round(temperaturaPT[key].dato / count));
        humedadR.push(Math.round(humedadT[key].dato / count));
        irradiacionR.push(Math.round(irradiacionT[key].dato / count));
        voltajeR.push(Math.round(voltajeT[key].dato / count));
      }

      precipitacion.reduce(function(res, value) {
        if (!res[value.seccion]) {
          res[value.seccion] = { seccion: value.seccion, dato: 0 };
          precipitacionR.push(res[value.seccion]);
        }
        res[value.seccion].dato += value.dato;
        return res;
      }, {});

      for (let key in precipitacionR) {
        labelP.push(precipitacionR[key].seccion);
        precipitacionP.push(precipitacionR[key].dato);
      }

      let secciones = {
        watts: {
          titulo: "Potencia Panel",
          options: {
            labels: labels
          },
          series: wattsR
        },
        voltaje: {
          titulo: "Voltaje Panel",
          options: {
            labels: labels,
            responsive: [
              {
                breakpoint: undefined,
                options: {}
              }
            ]
          },
          series: voltajeR
        },
        temperaturaA: {
          titulo: "Temperatura Ambiental",
          options: {
            labels: labels
          },
          series: temperaturaAR
        },
        temperaturaP: {
          titulo: "Temperatura Panel",
          options: {
            labels: labels
          },
          series: temperaturaPR
        },
        humedad: {
          titulo: "Humedad",
          options: {
            labels: labels
          },
          series: humedadR
        },
        irradiacion: {
          titulo: "Irradiación",
          options: {
            labels: labels
          },
          series: irradiacionR
        },
        precipitacion: {
          titulo: "Precipitacion",
          options: {
            labels: labelP
          },
          series: precipitacionP
        }
      };
      return secciones;
    },
    seccionesMes() {
      let datos = this.$store.getters.seccionMes;

      let labels = [];
      let watts = [];
      let temperaturaA = [];
      let temperaturaP = [];
      let humedad = [];
      let voltaje = [];
      let irradiacion = [];
      let precipitacionT = [];

      for (let key in datos) {
        if (labels.length == 0) {
          labels.push(datos[key].Seccion);
        } else if (labels.length != 0) {
          if (!labels.includes(datos[key].Seccion)) {
            labels.push(datos[key].Seccion);
          }
        }
        watts.push({
          seccion: datos[key].Seccion,
          dato: datos[key].Potencia_Panel
        });
        temperaturaA.push({
          seccion: datos[key].Seccion,
          dato: datos[key].Temperatura_Ambiental
        });
        temperaturaP.push({
          seccion: datos[key].Seccion,
          dato: datos[key].Temperatura_Panel
        });
        humedad.push({
          seccion: datos[key].Seccion,
          dato: datos[key].Humedad_Ambiental
        });
        irradiacion.push({
          seccion: datos[key].Seccion,
          dato: datos[key].irradiancia
        });
        voltaje.push({
          seccion: datos[key].Seccion,
          dato: datos[key].Voltaje_Panel
        });
        precipitacionT.push({
          seccion: datos[key].Seccion,
          dato: datos[key].Precipitacion
        });
      }

      let wattsT = [];
      let temperaturaAT = [];
      let temperaturaPT = [];
      let humedadT = [];
      let voltajeT = [];
      let irradiacionT = [];
      let precipitacion = [];
      let count = 0;

      watts.reduce(function(res, value) {
        if (!res[value.seccion]) {
          res[value.seccion] = { seccion: value.seccion, dato: 0 };
          wattsT.push(res[value.seccion]);
        }
        res[value.seccion].dato += value.dato;
        count++;
        return res;
      }, {});

      temperaturaA.reduce(function(res, value) {
        if (!res[value.seccion]) {
          res[value.seccion] = { seccion: value.seccion, dato: 0 };
          temperaturaAT.push(res[value.seccion]);
        }
        res[value.seccion].dato += value.dato;
        return res;
      }, {});

      voltaje.reduce(function(res, value) {
        if (!res[value.seccion]) {
          res[value.seccion] = { seccion: value.seccion, dato: 0 };
          voltajeT.push(res[value.seccion]);
        }
        res[value.seccion].dato += value.dato;
        return res;
      }, {});

      humedad.reduce(function(res, value) {
        if (!res[value.seccion]) {
          res[value.seccion] = { seccion: value.seccion, dato: 0 };
          humedadT.push(res[value.seccion]);
        }
        res[value.seccion].dato += value.dato;
        return res;
      }, {});

      temperaturaP.reduce(function(res, value) {
        if (!res[value.seccion]) {
          res[value.seccion] = { seccion: value.seccion, dato: 0 };
          temperaturaPT.push(res[value.seccion]);
        }
        res[value.seccion].dato += value.dato;
        return res;
      }, {});

      irradiacion.reduce(function(res, value) {
        if (!res[value.seccion]) {
          res[value.seccion] = { seccion: value.seccion, dato: 0 };
          irradiacionT.push(res[value.seccion]);
        }
        res[value.seccion].dato += value.dato;
        return res;
      }, {});

      precipitacionT.reduce(function(res, value) {
        const val = value.seccion + " " + value.dato;
        if (!precipitacion[val]) {
          res[value.seccion] = { seccion: val, dato: 0 };
          precipitacion.push(res[value.seccion]);
        }

        res[value.seccion].dato = +1;

        return res;
      }, {});
      

      let wattsR = [];
      let temperaturaAR = [];
      let temperaturaPR = [];
      let humedadR = [];
      let voltajeR = [];
      let irradiacionR = [];
      let precipitacionR = [];
      let labelP = [];
      let precipitacionP = [];

      for (let key in wattsT) {
        wattsR.push(Math.round(wattsT[key].dato / count));
        temperaturaAR.push(Math.round(temperaturaAT[key].dato / count));
        temperaturaPR.push(Math.round(temperaturaPT[key].dato / count));
        humedadR.push(Math.round(humedadT[key].dato / count));
        irradiacionR.push(Math.round(irradiacionT[key].dato / count));
        voltajeR.push(Math.round(voltajeT[key].dato / count));
      }

      precipitacion.reduce(function(res, value) {
        if (!res[value.seccion]) {
          res[value.seccion] = { seccion: value.seccion, dato: 0 };
          precipitacionR.push(res[value.seccion]);
        }
        res[value.seccion].dato += value.dato;
        return res;
      }, {});

      for (let key in precipitacionR) {
        labelP.push(precipitacionR[key].seccion);
        precipitacionP.push(precipitacionR[key].dato);
      }

      let secciones = {
        watts: {
          titulo: "Watts",
          options: {
            labels: labels
          },
          series: wattsR
        },
        voltaje: {
          titulo: "Voltaje Panel",
          options: {
            labels: labels,
            responsive: [
              {
                breakpoint: undefined,
                options: {}
              }
            ]
          },
          series: voltajeR
        },
        temperaturaA: {
          titulo: "Temperatura Ambiental",
          options: {
            labels: labels
          },
          series: temperaturaAR
        },
        temperaturaP: {
          titulo: "Temperatura Panel",
          options: {
            labels: labels
          },
          series: temperaturaPR
        },
        humedad: {
          titulo: "Humedad",
          options: {
            labels: labels
          },
          series: humedadR
        },
        irradiacion: {
          titulo: "Irradiación",
          options: {
            labels: labels
          },
          series: irradiacionR
        },
        precipitacion: {
          titulo: "Precipitacion",
          options: {
            labels: labelP
          },
          series: precipitacionP
        }
      };

      return secciones;
    }
  }
};
</script>