<template>
  <v-app>
    <drawner />

    <v-content>
      <v-container fluid>
        <v-row>
          <v-col cols="1">
            <v-btn-toggle rounded class="ml-4 mt-4" background-color="secondary" dark>
              <v-btn @click="retornarClick">
                <font-awesome-icon :icon="['fas', 'arrow-left']" size="2x" />
              </v-btn>
            </v-btn-toggle>
          </v-col>

          <v-col cols="10">
            <p class="display-1 font-weight-bold mt-4">Prototipos</p>
          </v-col>

          <v-col v-if="areas === null" cols="12">
            <v-card class="mx-auto" color="primary" dark>
              <v-card-text class="headline font-weight-bold">Agregue un Prototipo</v-card-text>
            </v-card>
          </v-col>

          <v-col v-for="area in areas" :key="area.titulo" cols="12">
            <p class="display-1">{{area.titulo}}</p>
            <sheet v-bind:prototipos="area.prototipos" />
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import drawner from "../../../../components/navbar/drawner.vue";
import sheet from "../../../../components/dashboard/sheet.vue";
export default {
  components: {
    drawner,
    sheet
  },
  props: {
    titulo: String
  },
  //una vez creado realizara acciones
  created() {
    //si no esta el usuario authenticado devolvera a login
    this.$store.dispatch("redirect");
    if(this.titulo===undefined){
      this.$router.push({name: 'inicio'})
    }
    this.$store.dispatch("cargarPanelesHoy", this.titulo);
  },
  methods: {
    retornarClick() {
      this.$router.push({ name: "inicio" });
    }
  },
  computed: {
    areas() {

      let datos = this.$store.getters.panelesHoy
      let area = []
      datos.reduce(function(res, value) {
        if (!res[value.Nombre]) {
          res[value.Nombre] = { titulo: value.Nombre, prototipos: [] };
          area.push(res[value.Nombre]);
        }
        res[value.Nombre].prototipos.push({...value.Area.prototipo, Nombre: value.Area.titulo});
        return res;
      }, {});

      return area
    }
  }
};
</script>