<template>
  <v-navigation-drawer permanent color="back" dark app>
    <v-list nav class="py-0">
      <v-list-item two-line>
        <v-list-item-avatar class="fondo" size="48">
          <span class="font-weight-bold headline">TS</span>
        </v-list-item-avatar>
        <span>Tesis Scada</span>
      </v-list-item>

      <v-divider />

      <v-list-item link @click="toDashboard">
        <v-list-item-icon>
          <font-awesome-icon :icon="['fab', 'dashcube']" size="2x" />
        </v-list-item-icon>
        <span>Panel</span>
      </v-list-item>

      <v-list-item link @click="toAdd">
        <v-list-item-icon>
          <font-awesome-icon :icon="['fas', 'solar-panel']" size="2x" />
        </v-list-item-icon>
        <span>Prototipos</span>
      </v-list-item>
    </v-list>
    <template v-slot:append>
      <div class="pa-2">
        <v-btn @click="cerrarSeccion" block>Cerrar Sección</v-btn>
      </div>
    </template>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: "Drawner",
  methods: {
    toDashboard() {
      if (this.$router.currentRoute.name != "inicio") {
        this.$router.push({ name: "inicio" });
      }
    },
    toAdd() {
      if (this.$router.currentRoute.name != "prototipo") {
        this.$router.push({ name: "prototipo" });
      }
    },
    cerrarSeccion() {
      this.$store.dispatch("signUserOut");
      this.$router.go()
    }
  }
};
</script>

<style>
.fondo {
  background-color: #ff6600;
}
.back {
  background-color: #434343;
}
</style>