<template>
  <!--Inicio del rectangulo del formulario-->
  <v-card color="primary" dark class="elevation-12">
    <!--Titulo-->
    <v-card-title class="headline">Tesis SCADA</v-card-title>
    <v-card-text>
      <!--Formulario-->
      <v-form  @submit.prevent="onClick">
        <!--Define que funcionara como grilla-->
        <v-row>
          <!--Grilla de Icono de usuario-->
          <v-col cols="1" class="d-flex align-center">
            <!--Icono Usuario-->
            <font-awesome-icon icon="user-tie" size="2x" fixed-width align="end" />
          </v-col>
          <!--input correo-->
          <v-col cols="11">
            <v-text-field label="Correo" v-model="form.email" type="text" />
          </v-col>
          <!--Icono Contraseña-->
          <v-col cols="1" class="d-flex align-center">
            <font-awesome-icon icon="key" size="2x" fixed-width align="end" />
          </v-col>
          <!--Input contraseña-->
          <v-col cols="11">
            <v-text-field label="Contraseña" v-model="form.password" type="password" />
          </v-col>
        </v-row>
        <!--Espacio-->
      <v-spacer></v-spacer>
      <!--Botono para inciar-->
      <v-btn color="secondary" type="submit">Iniciar Sección</v-btn>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
//Exporta las acciones al html compilado
export default {
  //Nombre del componente para importarlo
  name: "LoginComponent",
  //data que existira en
  data: function() {
    return {
      //se define la informacion esperada del formulario
      form: {
        email: "",
        password: ""  
      }
    };
  },
  //metodos que se pueden utilizar
  methods: {
    //metodo que llama a store signUserIn y si es correcto reenvia a inico
    onClick() {
      this.$store.dispatch("signUserIn", {
        email: this.form.email,
        password: this.form.password
      });
      this.$router.push({ name: "inicio" });
    }
  },
  //se calcula cada vez que es llamado
  computed: {
    //obtiene el usuario de store
    user() {
      return this.$store.getters.user;
    }
  },
  //escucha siempre a lo que se llame
  watch: {
    //llama a usuario y escucha si cambio su estado y lo de ser verdadero lo envia a inicio
    user(value) {
      if (value !== null && value !== undefined) {
        this.$router.push({ name: "inicio" });
      }
    }
  }
};
</script>