<template>
  <v-col cols="12">
    <v-row>
      <v-col cols="12" v-if="cntSeccion===0">
        <h1>Añade un prototipo para comenzar</h1>
      </v-col>
      <v-col cols="4" v-else v-for="area in areas" :key="area.options.chart.id" class="mb-3">
        <chartLine
          v-bind:options="area.options"
          v-bind:series="area.series"
          v-bind:titulo="titulo"
        />
      </v-col>
    </v-row>
  </v-col>
</template>

<script>
import chartLine from "../../components/dashboard/Charts/line.vue";
export default {
  name: "detalleSecionesHoy",
  props: {
    titulo: String,
    ronda: String
  },
  created() {
    if (this.titulo === undefined) {
      this.$router.push({ name: "inicio" });
    }

    switch (this.ronda) {
      case "Hoy":
        this.$store.dispatch("cargarAreaHoy", this.titulo);
        break;
      case "Semana":
        this.$store.dispatch("cargarAreaSemana", this.titulo);
        break;
      case "Mes":
        this.$store.dispatch("cargarAreaMes", this.titulo);
        break;
    }
  },
  computed: {
    cntSeccion() {
      return Object.keys(this.areas).length;
    },
    areas() {
      let datos;
      switch (this.ronda) {
        case "Hoy":
          datos = this.$store.getters.areaHoy;
          break;
        case "Semana":
          datos = this.$store.getters.areaSemana;
          break;
        case "Mes":
          datos = this.$store.getters.areaMes;
          break;
      }

      let categories = [];
      let watts = [];
      let temperaturaA = [];
      let temperaturaP = [];
      let voltaje = [];
      let precipitacion = [];
      let humedad = [];
      let irradiacion = [];

      for (let key in datos) {
        categories.push(datos[key].Hora);
        watts.push({
          area: datos[key].Area,
          dato: datos[key].Potencia_Panel
        });
        temperaturaA.push({
          area: datos[key].Area,
          dato: datos[key].Temperatura_Ambiental
        });
        temperaturaP.push({
          area: datos[key].Area,
          dato: datos[key].Temperatura_Panel
        });
        humedad.push({
          area: datos[key].Area,
          dato: datos[key].Humedad_Ambiental
        });
        irradiacion.push({
          area: datos[key].Area,
          dato: datos[key].irradiancia
        });
        voltaje.push({
          area: datos[key].Area,
          dato: datos[key].Voltaje_Panel
        });
        precipitacion.push({
          area: datos[key].Area,
          dato: datos[key].Precipitacion === "Sin Lluvia" ? 1 : 0
        });
      }

      let wattsT = [];
      let temperaturaAT = [];
      let temperaturaPT = [];
      let voltajeT = [];
      let precipitacionT = [];
      let humedadT = [];
      let irradiacionT = [];

      watts.reduce(function(res, value) {
        if (!res[value.area]) {
          res[value.area] = { name: value.area, data: [] };
          wattsT.push(res[value.area]);
        }
        res[value.area].data.push(value.dato);
        return res;
      }, {});

      temperaturaA.reduce(function(res, value) {
        if (!res[value.area]) {
          res[value.area] = { name: value.area, data: [] };
          temperaturaAT.push(res[value.area]);
        }
        res[value.area].data.push(value.dato);
        return res;
      }, {});

      temperaturaP.reduce(function(res, value) {
        if (!res[value.area]) {
          res[value.area] = { name: value.area, data: [] };
          temperaturaPT.push(res[value.area]);
        }
        res[value.area].data.push(value.dato);
        return res;
      }, {});

      humedad.reduce(function(res, value) {
        if (!res[value.area]) {
          res[value.area] = { name: value.area, data: [] };
          humedadT.push(res[value.area]);
        }
        res[value.area].data.push(value.dato);
        return res;
      }, {});

      precipitacion.reduce(function(res, value) {
        if (!res[value.area]) {
          res[value.area] = { name: value.area, data: [] };
          precipitacionT.push(res[value.area]);
        }
        res[value.area].data.push(value.dato);
        return res;
      }, {});

      voltaje.reduce(function(res, value) {
        if (!res[value.area]) {
          res[value.area] = { name: value.area, data: [] };
          voltajeT.push(res[value.area]);
        }
        res[value.area].data.push(value.dato);
        return res;
      }, {});

      irradiacion.reduce(function(res, value) {
        if (!res[value.area]) {
          res[value.area] = { name: value.area, data: [] };
          irradiacionT.push(res[value.area]);
        }
        res[value.area].data.push(value.dato);
        return res;
      }, {});

      let areas = {
        Watts: {
          options: {
            chart: {
              id: "Watts"
            },
            xaxis: {
              categories: categories
            }
          },
          series: wattsT
        },
        TemperaturaA: {
          options: {
            chart: {
              id: "Temperatura Ambiental"
            },
            xaxis: {
              categories: categories
            }
          },
          series: temperaturaAT
        },
        TemperaturaP: {
          options: {
            chart: {
              id: "Temperatura Panel"
            },
            xaxis: {
              categories: categories
            }
          },
          series: temperaturaPT
        },
        Humedad: {
          options: {
            chart: {
              id: "Humedad"
            },
            xaxis: {
              categories: categories
            }
          },
          series: humedadT
        },
        Irradiacion: {
          options: {
            chart: {
              id: "Irradiacion"
            },
            xaxis: {
              categories: categories
            }
          },
          series: irradiacionT
        },
        voltaje: {
          options: {
            chart: {
              id: "Voltaje"
            },
            xaxis: {
              categories: categories
            }
          },
          series: voltajeT
        }
        ,
        precipitacion: {
          options: {
            chart: {
              id: "Precipitacion"
            },
            xaxis: {
              categories: categories
            }
          },
          series: precipitacionT
        }
      };
      return areas;
    }
  },
  components: {
    chartLine
  }
};
</script>