<template>
  <v-row>
    <v-col cols="2">
      <v-card class="mx-auto" color="#FCAA67" dark raised>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="titulo">
              <font-awesome-icon :icon="['fas', 'charging-station']" />
              {{cards.volt}} V
            </v-list-item-title>
            <v-list-item-subtitle class="subTitulo">Voltaje Total</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-card>
    </v-col>

    <v-col cols="2">
      <v-card class="mx-auto" color="#B0413E" dark raised>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="titulo">
              <font-awesome-icon :icon="['fas', 'charging-station']" />
              {{cards.watts}} W
            </v-list-item-title>
            <v-list-item-subtitle class="subTitulo">Potencia Total</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-card>
    </v-col>

    <v-col cols="2">
      <v-card class="mx-auto" color="#473335" dark raised>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="titulo">
              <font-awesome-icon :icon="['fas', 'temperature-high']" />
              {{cards.temp}} °C
            </v-list-item-title>
            <v-list-item-subtitle class="subTitulo">Temperatura Actual</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-card>
    </v-col>

    <v-col cols="2">
      <v-card class="mx-auto" color="#548687" dark raised>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="titulo">
              <font-awesome-icon :icon="['fas', 'tint']" />
              {{cards.hum}} %
            </v-list-item-title>
            <v-list-item-subtitle class="subTitulo">Humedad Actual</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-card>
    </v-col>

    <v-col cols="2">
      <v-card class="mx-auto" color="#457b9d" dark raised>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="titulo">
              <font-awesome-icon :icon="['fas', 'cloud-rain']" />
              {{cards.pre}}
            </v-list-item-title>
            <v-list-item-subtitle class="subTitulo">Precipitacion Actual</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-card>
    </v-col>

    <v-col cols="2">
      <v-card class="mx-auto" color="#e76f51" dark raised>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="titulo">
              <font-awesome-icon :icon="['fas', 'sun']" />
              {{cards.irr}} Wm
            </v-list-item-title>
            <v-list-item-subtitle class="subTitulo">Irradiancia Actual</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-card>
    </v-col>

    <v-col cols="12">
      <v-row>
        <v-col cols="12" v-if="cntSeccion===0">
          <h1>Añade un prototipo para comenzar</h1>
        </v-col>

        <v-col
          cols="12"
          v-else-if="cntSeccion===1"
          v-for="seccion in general"
          :key="seccion.titulo"
        >
          <chartPie
            v-bind:options="seccion.options"
            v-bind:series="seccion.series"
            v-bind:titulo="seccion.titulo"
            v-bind:direccion="direccion"
            v-bind:identificador="identificador"
          />
        </v-col>
        <v-col cols="3" v-else v-for="seccion in general" :key="seccion.titulo" class="mb-3">
          <chartPie
            v-bind:options="seccion.options"
            v-bind:series="seccion.series"
            v-bind:titulo="seccion.titulo"
            v-bind:direccion="direccion"
            v-bind:identificador="identificador"
          />
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import chartPie from "../../components/dashboard/Charts/pie.vue";
export default {
  props: {
    general: Object,
    cards: Object,
    direccion: String
  },
  created() {
    switch (this.direccion) {
      case "detalleSecionHoy":
        this.identificador = "Hoy";
        break;
      case "detalleSecionSemana":
        this.identificador = "Semana";
        break;
      case "detalleSecionMes":
        this.identificador = "Mes";
        break;
    }
  },
  computed: {
    cntSeccion() {
      return Object.keys(this.general).length;
    }
  },
  components: {
    chartPie
  },
  data: () => {
    return {
      identificador: ""
    };
  }
};
</script>

<style scoped>
.titulo {
  text-align: center;
  font-size: 26px;
}
.subTitulo {
  text-align: center;
  font-size: 16px;
}
</style>