<template>
  <v-sheet class="mx-auto" elevation="8">
    <v-row>
      <v-col cols="4">
        <v-card :color="'secondary'" dark class="ma-2">
          <v-card-text>
            <span class="ml-3">Humedad Ambiental Promedio: {{PromedioHumedad}}</span>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="4">
        <v-card :color="'secondary'" dark class="ma-2">
          <v-card-text>
            <span class="ml-3">Temperatura Ambiental Promedio: {{PromedioTemperatura}}</span>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="4">
        <v-card :color="'secondary'" dark class="ma-2">
          <v-card-text>
            <span class="ml-3">Precipitacion: {{Precipitacion}}</span>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-slide-group class="pa-4" show-arrows>
      <v-slide-item v-for="(prototipo, index) in prototipos" :key="prototipo.Nombre">
        <v-card :color="'primary'" dark class="ma-4" height="400" width="250">
          <v-card-text>
            <v-row>
              <v-col
                cols="12"
                class="fill-height display-1"
                align="center"
                justify="center"
              >{{prototipo.Nombre}}</v-col>
              <v-col cols="12" class="fill-height">
                <v-row>
                  <v-col cols="12">
                    <v-divider :key="index" dark class="fill-height"></v-divider>
                  </v-col>
                  <v-col cols="9">Irradiacia:</v-col>
                  <v-col cols="3" align="center" justify="center">{{prototipo.irradiancia}}</v-col>
                  <v-col cols="12">
                    <v-divider :key="index" dark class="fill-height"></v-divider>
                  </v-col>
                  <v-col cols="9">Potencia Panel:</v-col>
                  <v-col cols="3" align="center" justify="center">{{prototipo.Potencia_Panel}}</v-col>
                  <v-col cols="12">
                    <v-divider :key="index" dark class="fill-height"></v-divider>
                  </v-col>
                  <v-col cols="9">Voltaje Panel:</v-col>
                  <v-col cols="3" align="center" justify="center">{{prototipo.Voltaje_Panel}}</v-col>
                  <v-col cols="12">
                    <v-divider :key="index" dark class="fill-height"></v-divider>
                  </v-col>
                  <v-col cols="9">Temperatura Panel:</v-col>
                  <v-col cols="3" align="center" justify="center">{{prototipo.Temperatura_Panel}}</v-col>
                  <v-col cols="12">
                    <v-divider :key="index" dark class="fill-height"></v-divider>
                  </v-col>
                  <v-col cols="9">Precipitacion:</v-col>
                  <v-col cols="3" align="center" justify="center">{{prototipo.Precipitacion}}</v-col>
                  <v-col cols="12">
                    <v-divider :key="index" dark class="fill-height"></v-divider>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-slide-item>
    </v-slide-group>
  </v-sheet>
</template>

<script>
export default {
  props: {
    prototipos: Array,
    ronda: String
  },
  data: () => ({}),
  computed: {
    PromedioHumedad() {
      let count = 0;
      let temp = 0;

      Object.entries(this.prototipos).forEach(data => {
        temp = data[1].Humedad_Ambiental + temp;
        count++;
      });

      return Math.round(temp / count);
    },
    PromedioTemperatura() {
      let count = 0;
      let temp = 0;

      Object.entries(this.prototipos).forEach(data => {
        temp = data[1].Temperatura_Ambiental + temp;
        count++;
      });

      return Math.round(temp / count);
    },
    Precipitacion() {
      let pre = "Sin LLuvia";
      Object.entries(this.prototipos).forEach(data => {
        if (data[1].precipitacion != "Sin Lluvia") {
          pre = "Lluvia";
        }
      });
      return pre;
    }
  }
};
</script>