<template>
  <v-app>
    <drawner />

    <v-content>
      <v-container fluid>
        <v-row>
          <v-col cols="1">
            <v-btn-toggle rounded class="ml-4 mt-4" background-color="secondary" dark>
              <v-btn @click="retornarClick">
                <font-awesome-icon :icon="['fas', 'arrow-left']" size="2x" />
              </v-btn>
            </v-btn-toggle>
          </v-col>

          <v-col cols="10">
            <p class="display-1 font-weight-bold mt-4">Prototipos</p>
          </v-col>

          <v-col v-if="areas === null" cols="12">
            <v-card class="mx-auto" color="primary" dark>
              <v-card-text class="headline font-weight-bold">Agregue un Prototipo</v-card-text>
            </v-card>
          </v-col>

          <v-col v-for="area in areas" :key="area.titulo" cols="12">
            <p class="display-1">{{area.titulo}}</p>
            <sheet v-bind:prototipos="area.prototipos" />
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import drawner from "../../../../components/navbar/drawner.vue";
import sheet from "../../../../components/dashboard/sheet.vue";
export default {
  components: {
    drawner,
    sheet
  },
  props: {
    titulo: String
  },
  //una vez creado realizara acciones
  created() {
    //si no esta el usuario authenticado devolvera a login
    this.$store.dispatch("redirect");

    if (this.titulo === undefined) {
      this.$router.push({ name: "inicio" });
    }

    this.$store.dispatch("cargarPanelesMes", this.titulo);
  },
  computed: {
    areas() {
      let datos = this.$store.getters.panelesMes;
      let area = [];
      let prot = []
      let prototipo = []
      let count  = 0

      datos.reduce(function(res, value) {
        if (!res[value.Nombre]) {
          res[value.Nombre] = [] ;
          prot.push(res[value.Nombre]);
        }
        res[value.Nombre].push({
          ...value.Area.prototipo,
          Nombre: value.Area.titulo,
          Area: value.Nombre
        });
        return res;
      }, {});

      prot.forEach(element => {
        element.reduce(function(res, value) {
          if (!res[value.Nombre]) {
            res[value.Nombre] = {
              irradiancia: 0,
              Humedad_Ambiental: 0,
              Potencia_Panel: 0,
              Temperatura_Ambiental: 0,
              precipitacion: '',
              Temperatura_Panel: 0,
              Voltaje_Panel: 0,
              Nombre: value.Nombre,
              Area : value.Area
            };
            prototipo.push(res[value.Nombre]);
          }
          count++
          res[value.Nombre].irradiancia += value.irradiancia
          res[value.Nombre].Humedad_Ambiental += value.Humedad_Ambiental
          res[value.Nombre].Potencia_Panel += value.Potencia_Panel
          res[value.Nombre].Temperatura_Ambiental += value.Temperatura_Ambiental
          res[value.Nombre].precipitacion += value.precipitacion
          res[value.Nombre].Temperatura_Panel += value.Temperatura_Panel
          res[value.Nombre].Voltaje_Panel += value.Voltaje_Panel
          res[value.Nombre].Nombre = value.Nombre
          res[value.Nombre].Area = value.Area
        
          return res;
        }, {});
      });

      prototipo.reduce(function(res, value) {
        if (!res[value.Area]) {
          res[value.Area] = { titulo: value.Area, prototipos: [] };
          area.push(res[value.Area]);
        }
        res[value.Area].prototipos.push({
          Nombre: value.Nombre,
          irradiancia: Math.round(value.irradiancia/count),
          Humedad_Ambiental: Math.round(value.Humedad_Ambiental/count),
          Potencia_Panel: Math.round(value.Potencia_Panel/count),
          Temperatura_Ambiental: Math.round(value.Temperatura_Ambiental/count),
          precipitacion: value.precipitacion,
          Temperatura_Panel: Math.round(value.Temperatura_Panel/count),
          Voltaje_Panel: Math.round(value.Voltaje_Panel/count)
        });
        return res;
      }, {});

      return area;
    }
  },
  methods: {
    retornarClick() {
      this.$router.push({ name: "inicio" });
    }
  }
};
</script>