<template>
  <v-app>
    <drawner />

    <v-content>
      <v-container fluid>
        <v-row>
          <v-col cols="1">
            <v-btn-toggle rounded class="ml-4 mt-4" background-color="secondary" dark>
              <v-btn @click="retornarClick">
                <font-awesome-icon :icon="['fas', 'arrow-left']" size="2x" />
              </v-btn>
            </v-btn-toggle>
          </v-col>

          <v-col cols="10">
            <p class="display-1 font-weight-bold mt-4">Detalle {{titulo}}</p>
          </v-col>

          <v-col cols="1">
            <v-btn-toggle rounded class="ml-4 mt-4" background-color="secondary" dark>
              <v-btn @click="prototipoClick">
                <font-awesome-icon :icon="['fas', 'solar-panel']" size="2x" />
              </v-btn>
            </v-btn-toggle>
          </v-col>

          <v-col cols="12">
            <detalleSeciones v-bind:titulo="titulo" v-bind:ronda="identificador"/>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import drawner from "../../../components/navbar/drawner.vue";
import detalleSeciones from "../../../components/dashboard/detalleSeciones.vue";
export default {
  components: {
    drawner,
    detalleSeciones
  },
  props: {
    titulo: String,
    identificador: String
  },
  //una vez creado realizara acciones
  created() {
    //si no esta el usuario authenticado devolvera a login
    this.$store.dispatch("redirect");
  },
  methods: {
    retornarClick() {
      this.$router.push({ name: "inicio" });
    },
    prototipoClick() {
      this.$router.push({
        name: "prototipoMes",
        params: { titulo: this.titulo, ronda: this.identificador }
      });
    }
  }
};
</script>
