<template>
  <v-content class="fondo">
    <v-container fluid fill-height>
      <!--layout se alineara al centro vertical como horizontal-->
      <v-layout align-center justify-center>
        <!--sera flexible con el tamaño del contenido-->
        <v-flex xs12 sm8 md4>
          <p class="font-weight-medium display-3 text-center">OOPS!</p>
          <p class="font-weight-bold display-4 text-center">Error 404</p>
          <p class="font-weight-medium display-2 text-center">Volviendo</p>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
export default {
  created() {
    //si no esta el usuario authenticado devolvera a login
    setTimeout(() => {
      this.$store.dispatch("redirect");
    }, 3000);
  }
};
</script>   

<style scoped>
.fondo {
  background-color: #FF6600;
}
</style>