<template>
  <!--etiqueta de contenido-->
  <v-content>
    <!--etiqueta que contentra el componenten-->
    <v-container fluid fill-height>
      <!--layout se alineara al centro vertical como horizontal-->
      <v-layout align-center justify-center>
        <!--sera flexible con el tamaño del contenido-->
        <v-flex xs12 sm8 md4>
            <!--componente exportado-->
            <LoginComponent/>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
//importa el componente login
import LoginComponent from "../../components/login.vue";

export default {
    //nombre para este componente
    name: 'LoginView',
    //inicializa los componentes que se importaron
    components: {
        LoginComponent
    }
};
</script>