<template>
  <v-app>
    <drawner />

    <v-content>
      <v-container fluid>
        <v-row>
          <v-col cols="10">
            <span class="display-1">Prototipos</span>
          </v-col>
          <v-col class="text-center" cols="2">
            <v-btn small color="primary" @click="sheetSector = !sheetSector">Añadir Sector</v-btn>

            <v-bottom-sheet v-model="sheetSector" inset>
              <v-sheet class="text-center" height="300px">
                <v-container>
                  <v-form
                    :ref="refSector"
                    v-model="valid"
                    lazy-validation
                    @submit.prevent="añadir()"
                  >
                    <v-text-field
                      v-model="nombre"
                      :counter="20"
                      :rules="rules"
                      label="Nombre"
                      required
                    ></v-text-field>
                    <v-btn color="primary" text @click="añadir()">Añadir</v-btn>
                    <v-btn color="primary" text @click="cancelarSect">Cancelar</v-btn>
                  </v-form>
                </v-container>
              </v-sheet>
            </v-bottom-sheet>

          </v-col>

          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel v-for="(sector, i) in sectores" :key="i">
                <v-expansion-panel-header>
                  <v-row>
                    <v-col cols="10" class="d-flex align-center">
                      <v-row>
                        <v-col
                          cols="12"
                          v-if="!editarSector[i] && !sheetSectorDelete[i] && !sheetAreaAdd[i]"
                        >
                          <v-alert border="right" color="blue-grey" dark>{{sector.titulo}}</v-alert>
                        </v-col>
                        <v-col cols="12" v-else-if="editarSector[i]">
                          <v-text-field outlined :value="sector.titulo" v-model="sectorTemp"></v-text-field>
                        </v-col>
                        <v-col cols="12" v-if="sheetAreaAdd[i]">
                          <v-text-field outlined label="Nombre Area" value v-model="areaTemp"></v-text-field>
                        </v-col>
                        <v-col cols="12" v-else-if="sheetSectorDelete[i]">
                          <div class="py-3">¿Desea Eliminar {{sector.titulo}}?</div>
                        </v-col>
                      </v-row>
                    </v-col>
                    <v-col
                      cols="2"
                      class="d-flex align-center"
                      v-if="!editarSector[i] && !sheetSectorDelete[i] && !sheetAreaAdd[i]"
                    >
                      <v-row>
                        <v-col cols="4">
                          <font-awesome-icon
                            :icon="['fas', 'clone']"
                            size="lg"
                            class="green--text text--darken-1"
                            @click="añadirAreaBool(i)"
                          />
                        </v-col>

                        <v-col cols="4">
                          <font-awesome-icon
                            :icon="['fas', 'edit']"
                            size="lg"
                            class="amber--text text--darken-1"
                            @click="editSectorBool(i)"
                          />
                        </v-col>

                        <v-col cols="4">
                          <font-awesome-icon
                            :icon="['fas', 'trash']"
                            size="lg"
                            class="orange--text text--darken-4" 
                            @click="eliminarSector(i)"
                          />
                        </v-col>
                      </v-row>
                    </v-col>
                    <v-col cols="2" class="d-flex align-center" v-if="editarSector[i]">
                      <v-row>
                        <v-col cols="4">
                          <font-awesome-icon
                            :icon="['fas', 'check']"
                            size="lg"
                            class="green--text text--darken-1"
                            @click="editSectorVal(i)"
                          />
                        </v-col>

                        <v-col cols="4">
                          <font-awesome-icon
                            :icon="['fas', 'times']"
                            size="lg"
                            class="orange--text text--darken-4"
                            @click="cancelarSector(i)"
                          />
                        </v-col>
                      </v-row>
                    </v-col>

                    <v-col cols="2" class="d-flex align-center" v-if="sheetSectorDelete[i]">
                      <v-row>
                        <v-col cols="4">
                          <font-awesome-icon
                            :icon="['fas', 'check']"
                            size="lg"
                            class="green--text text--darken-1"
                            @click="eliminarSectorVal(sector.id)"
                          />
                        </v-col>

                        <v-col cols="4">
                          <font-awesome-icon
                            :icon="['fas', 'times']"
                            size="lg"
                            class="orange--text text--darken-4"
                            @click="eliminarSector(i)"
                          />
                        </v-col>
                      </v-row>
                    </v-col>

                    <v-col cols="2" class="d-flex align-center" v-if="sheetAreaAdd[i]">
                      <v-row>
                        <v-col cols="4">
                          <font-awesome-icon
                            :icon="['fas', 'check']"
                            size="lg"
                            class="green--text text--darken-1"
                            @click="añadirAreaVal(i ,sector.id)"
                          />
                        </v-col>

                        <v-col cols="4">
                          <font-awesome-icon
                            :icon="['fas', 'times']"
                            size="lg"
                            class="orange--text text--darken-4"
                            @click="añadirAreaBool(i)"
                          />
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-expansion-panels>
                    <v-expansion-panel v-for="(area, o) in sector.areas" :key="o">
                      <v-expansion-panel-header>
                        <v-row>
                          <v-col cols="10" class="d-flex align-center">
                            <v-row>
                              <v-col
                                cols="12"
                                v-if="!editarArea[o] && !sheetAreaDelete[o] && !sheetPrototipoAdd[o]"
                              >
                                <v-alert border="right" color="primary" dark>{{area.titulo}}</v-alert>
                              </v-col>
                              <v-col cols="12" v-if="editarArea[o]">
                                <v-text-field outlined :value="area.titulo" v-model="areaTemp"></v-text-field>
                              </v-col>
                              <v-col cols="12" v-if="sheetPrototipoAdd[o]">
                                <v-text-field
                                  outlined
                                  label="Nombre Prototipo"
                                  value
                                  v-model="prototipoTemp"
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" v-else-if="sheetAreaDelete[o]">
                                <div class="py-3">¿Desea Eliminar {{area.titulo}}?</div>
                              </v-col>
                            </v-row>
                          </v-col>
                          <v-col
                            cols="2"
                            class="d-flex align-center"
                            v-if="!editarArea[o] && !sheetAreaDelete[o] && !sheetPrototipoAdd[o]"
                          >
                            <v-row>
                              <v-col cols="4">
                                <font-awesome-icon
                                  :icon="['fas', 'clone']"
                                  size="lg"
                                  class="green--text text--darken-1"
                                  @click="añadirPrototipoBool(o)"
                                />
                              </v-col>

                              <v-col cols="4">
                                <font-awesome-icon
                                  :icon="['fas', 'edit']"
                                  size="lg"
                                  class="amber--text text--darken-1"
                                  @click="editAreaBool(i, o)"
                                />
                              </v-col>

                              <v-col cols="4">
                                <font-awesome-icon
                                  :icon="['fas', 'trash']"
                                  size="lg"
                                  class="orange--text text--darken-4"
                                  @click="eliminarAreaBool(o)"
                                />
                              </v-col>
                            </v-row>
                          </v-col>
                          <v-col cols="2" class="d-flex align-center" v-if="editarArea[o]">
                            <v-row>
                              <v-col cols="4">
                                <font-awesome-icon
                                  :icon="['fas', 'check']"
                                  size="lg"
                                  class="green--text text--darken-1"
                                  @click="editAreaVal(i, o)"
                                />
                              </v-col>

                              <v-col cols="4">
                                <font-awesome-icon
                                  :icon="['fas', 'times']"
                                  size="lg"
                                  class="orange--text text--darken-4"
                                  @click="editAreaBool(i, o)"
                                />
                              </v-col>
                            </v-row>
                          </v-col>
                          <v-col cols="2" class="d-flex align-center" v-if="sheetAreaDelete[o]">
                            <v-row>
                              <v-col cols="4">
                                <font-awesome-icon
                                  :icon="['fas', 'check']"
                                  size="lg"
                                  class="green--text text--darken-1"
                                  @click="eliminarAreaVal(i,o)"
                                />
                              </v-col>

                              <v-col cols="4">
                                <font-awesome-icon
                                  :icon="['fas', 'times']"
                                  size="lg"
                                  class="orange--text text--darken-4"
                                  @click="eliminarAreaBool(o)"
                                />
                              </v-col>
                            </v-row>
                          </v-col>
                          <v-col cols="2" class="d-flex align-center" v-if="sheetPrototipoAdd[o]">
                            <v-row>
                              <v-col cols="4">
                                <font-awesome-icon
                                  :icon="['fas', 'check']"
                                  size="lg"
                                  class="green--text text--darken-1"
                                  @click="añadirPrototipoVal(i,o)"
                                />
                              </v-col>

                              <v-col cols="4">
                                <font-awesome-icon
                                  :icon="['fas', 'times']"
                                  size="lg"
                                  class="orange--text text--darken-4"
                                  @click="añadirPrototipoBool(o)"
                                />
                              </v-col>
                            </v-row>
                          </v-col>
                        </v-row>
                      </v-expansion-panel-header>
                      <v-expansion-panel-content v-for="(prototipo, u) in area.prototipos" :key="u">
                        <v-row>
                          <v-col cols="10" class="d-flex align-center">
                            <v-row>
                              <v-col cols="12" v-if="!sheetPrototipoDelete[u]">{{prototipo.titulo}}</v-col>
                              <v-col cols="12" v-if="sheetPrototipoDelete[u]">
                                <div class="py-3">¿Desea Eliminar {{prototipo.titulo}}?</div>
                              </v-col>
                            </v-row>
                          </v-col>
                          <v-col
                            cols="2"
                            class="d-flex align-center"
                            v-if="!sheetPrototipoDelete[u]"
                          >
                            <v-row>
                              <v-col cols="4">
                                <font-awesome-icon
                                  :icon="['fas', 'trash']"
                                  size="lg"
                                  class="orange--text text--darken-4"
                                  @click="eliminarPrototipoBool(u)"
                                />
                              </v-col>
                            </v-row>
                          </v-col>
                          <v-col
                            cols="2"
                            class="d-flex align-center"
                            v-if="sheetPrototipoDelete[u]"
                          >
                            <v-row>
                              <v-col cols="4">
                                <font-awesome-icon
                                  :icon="['fas', 'check']"
                                  size="lg"
                                  class="green--text text--darken-1"
                                  @click="eliminarPrototipoVal(i,o,u)"
                                />
                              </v-col>

                              <v-col cols="4">
                                <font-awesome-icon
                                  :icon="['fas', 'times']"
                                  size="lg"
                                  class="orange--text text--darken-4"
                                  @click="eliminarPrototipoBool(u)"
                                />
                              </v-col>
                            </v-row>
                          </v-col>
                        </v-row>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-expansion-panels>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import drawner from "../../../components/navbar/drawner.vue";
export default {
  components: {
    drawner
  },
  //una vez creado realizara acciones
  created() {
    //si no esta el usuario authenticado devolvera a login
    this.$store.dispatch("redirect");

    for (let i = 0; i < this.sectores.length; i++) {
      this.editarSector.push(false);
      this.sheetSectorDelete.push(false);
      this.sheetAreaAdd.push(false);

      if (this.sectores[i].areas.length != 0) {
        for (let o = 0; o < this.sectores[i].areas.length; i++) {
          this.editarArea.push(false);
          this.sheetAreaDelete.push(false);
          this.sheetPrototipoAdd.push(false);
          for (
            let u = 0;
            u < this.sectores[i].areas[o].prototipos.length;
            i++
          ) {
            this.sheetPrototipoDelete.push(false);
          }
        }
      }
    }
  },
  methods: {
    cancelarSector(value) {
      if (this.editarSector[value] == false) {
        this.$set(this.editarSector, value, true);
      } else {
        this.$set(this.editarSector, value, false);
      }
    },
    editSectorBool(value) {
      if (this.editarSector[value] == false) {
        this.$set(this.editarSector, value, true);
        this.sectorTemp = this.sectores[value].titulo;
      } else {
        this.$set(this.editarSector, value, false);
      }
    },
    editAreaBool(i, o) {
      if (this.editarArea[o] == false) {
        this.$set(this.editarArea, o, true);
        this.areaTemp = this.sectores[i].areas[o].titulo;
      } else {
        this.$set(this.editarArea, o, false);
      }
    },
    editSectorVal(value) {
      if (this.editarSector[value] == false) {
        this.$set(this.editarSector, value, true);
      } else {
        this.$set(this.editarSector, value, false);
      }

      if (this.sectores[value].titulo !== this.sectorTemp) {
        this.sectores[value].titulo = this.sectorTemp;
        this.$store.dispatch("editarSector", this.sectores[value]);
      }
    },
    editAreaVal(i, o) {
      if (this.editarArea[o] == false) {
        this.$set(this.editarArea, o, true);
      } else {
        this.$set(this.editarArea, o, false);
      }

      if (this.sectores[i].titulo !== this.areaTemp) {
        this.sectores[i].areas[o].titulo = this.areaTemp;

        const area = {
          idPrototipo: this.sectores[i].id,
          idArea: this.sectores[i].areas[o].id,
          titulo: this.sectores[i].areas[o].titulo
        };
        this.areaTemp = "";

        this.$store.dispatch("editarArea", area);
      }
    },
    eliminarSector(value) {
      if (this.sheetSectorDelete[value]) {
        this.$set(this.sheetSectorDelete, value, false);
      } else {
        this.$set(this.sheetSectorDelete, value, true);
      }
    },
    eliminarSectorVal(value) {
      this.$store.dispatch("eliminarSector", value);

      this.$store.dispatch("cargarSectores");
    },
    añadirAreaBool(value) {
      if (this.sheetAreaAdd[value] == false) {
        this.$set(this.sheetAreaAdd, value, true);
      } else {
        this.$set(this.sheetAreaAdd, value, false);
      }
    },
    añadirAreaVal(value, id) {
      if (this.sheetAreaAdd[value] == false) {
        this.$set(this.sheetAreaAdd, value, true);
      } else {
        const area = {
          titulo: this.areaTemp,
          id: id
        };
        this.$store.dispatch("crearArea", area);
        this.$store.dispatch("cargarSectores");
        this.$set(this.sheetAreaAdd, value, false);
      }
    },
    añadirPrototipoBool(value) {
      if (this.sheetPrototipoAdd[value] == false) {
        this.$set(this.sheetPrototipoAdd, value, true);
      } else {
        this.$set(this.sheetPrototipoAdd, value, false);
      }
    },
    eliminarAreaBool(value) {
      if (this.sheetAreaDelete[value] == false) {
        this.$set(this.sheetAreaDelete, value, true);
      } else {
        this.$set(this.sheetAreaDelete, value, false);
      }
    },
    eliminarAreaVal(i, o) {
      const area = {
        idSector: this.sectores[i].id,
        idArea: this.sectores[i].areas[o].id
      };
      this.$store.dispatch("eliminarArea", area);

      this.$store.dispatch("cargarSectores");
    },
    añadirPrototipoVal(i, o) {
      if (this.sheetPrototipoAdd[o] == false) {
        this.$set(this.sheetPrototipoAdd, o, true);
      } else {
        const protitpo = {
          titulo: this.prototipoTemp,
          idSector: this.sectores[i].id,
          idArea: this.sectores[i].areas[o].id
        };
        this.$store.dispatch("crearPrototipo", protitpo);
        this.$store.dispatch("cargarSectores");
        this.$set(this.sheetPrototipoAdd, o, false);
      }
    },
    eliminarPrototipoBool(value) {
      if (this.sheetPrototipoDelete[value] == false) {
        this.$set(this.sheetPrototipoDelete, value, true);
      } else {
        this.$set(this.sheetPrototipoDelete, value, false);
      }
    },
    eliminarPrototipoVal(i, o, u) {
      const prototipo = {
        idSector: this.sectores[i].id,
        idArea: this.sectores[i].areas[o].id,
        idPrototipo: this.sectores[i].areas[o].prototipos[u].id
      };
      this.$store.dispatch("eliminarPrototipo", prototipo);

      this.$store.dispatch("cargarSectores");
    },
    cancelarSect() {
      this.$refs.formSector.reset();
      this.$refs.formSector.resetValidation();
      this.sheetSector = !this.sheetSector;
    },
    añadir() {
      if (this.$refs.formSector.validate()) {
        this.$store.dispatch("crearSector", this.nombre);
        this.$store.dispatch("cargarSectores");

        this.$refs.formSector.reset();
        this.$refs.formSector.resetValidation();
      }
      this.sheetSector = !this.sheetSector;
    }
  },
  data: () => ({
    editarSector: [],
    editarArea: [],
    editarPrototipo: [],
    sheetAreaAdd: [],
    sheetPrototipoAdd: [],
    sheetSectorDelete: [],
    sheetAreaDelete: [],
    sheetPrototipoDelete: [],
    sectorTemp: "",
    areaTemp: "",
    prototipoTemp: "",
    sheetSector: false,
    refSector: "formSector",
    nombre: "",
    valid: true,
    rules: [
      v => !!v || "Nombre es requerido",
      v =>
        (v && v.length <= 20) ||
        "El nombre requiere que tenga menos de 20 caracteres"
    ]
  }),
  computed: {
    sectores() {
      return this.$store.getters.sectores;
    }
  }
};
</script>
